<h1>contact us</h1>
<h3>Rahul Nayak</h3>
<p>Software Engineer <br>
    phone:- 7864598067 <br>
    Email : <a href="mailto:6.r.nayak@gmail.com" target="_blank">6.r.nayak@gmail.com</a>
</p>
<div class="space">
    <a href="https://www.facebook.com/www.rahulnayak" target="_blank"><img class="facebook-logo" src="assets\facebook.jpeg" alt="facebook"></a> &nbsp;
    <a href="https://instagram.com/mr.rahul_nayak?igshid=NGExMml2YTkyZg==" target="_blank"><img class="facebook-logo" src="assets\instagram.jpeg" alt="instagram"></a>
</div>