<div class="hrader">
  <div>
    <img class="main-logo" src="assets\logo-transparent-png.png" alt="logo">
  </div>

<div class="top-navigation" style="text-align: right;">

  <button class="top-navigation-btm"><a href="#">Home</a></button>
  <button class="top-navigation-btm"> <a routerLink="blog">Blog</a></button>
  <button class="top-navigation-btm"><a routerLink="aboutus">About Us</a></button>
  <button class="top-navigation-btm"><a routerLink="contactus">Contact Us</a></button>

  <a routerLink="login">Admin</a>
  

  </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <div class="space">
      grandtechnology.in || www.grandtechnology.in || grand technology || Rahul Nayak
  </div>
  
</div>