<div class="top-navigation">
<button class="top-navigation-btm">
  Home
</button>
</div>
<div class="main-page">
  <div>
    This Website under creation.
  </div>
  <div class="m-5">

  </div>
  <div>
    ଏହି ୱେବ୍ସାଇଟ ଟି ତିଆରି ହେଉଅଛି |
  </div>
  
</div>
<div class="footer">
  <div class="space">
      grandtechnology.in || www.grandtechnology.in || grand technology || Rahul Nayak
  </div>
  <div class="space">
    <a href="https://www.facebook.com/www.rahulnayak" target="_blank"><img src="assets\facebook.jpeg" alt="facebook"> Rahul Nayak </a>
    <a href="https://instagram.com/mr.rahul_nayak?igshid=NGExMml2YTkyZg==" target="_blank"><img src="assets\instagram.jpeg" alt="instagram"></a>
  </div>
  <div class="space">
    Email : <a href="mailto:6.r.nayak@gmail.com" target="_blank">6.r.nayak@gmail.com</a>
  </div>
</div>