/* You can add global styles to this file, and also import other style files */
body{
    background: url('C:\Users\HP\OneDrive\Desktop\website\website\src\assets\background.jpg');
}

.top-navigation{
    height: 1.5cm;
    width: 100%;
    margin: 0;
}
.main-logo{
    height: 1.5cm;
    width: 120px;
    
}
.top-navigation-btm{
    display: inline-block;
    height: 65px;
    width: 128px;
   background-color: transparent;
    color: rgb(13, 237, 21);
    border: none;
    font-size: 20px;

}
.top-navigation-btm:hover{
    color: rgb(9, 9, 9);
    text-decoration: underline;
    
}
.main-page{
    height: 10cm;
    width: 90%;
    background-color: rgb(122, 240, 226);
    border: 5px solid white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 55px;
}

.footer{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}
.facebook-logo{
    height: 25px;
    width: 25px;
}
.space{
    margin: 10px;
}
a{
    text-decoration: none;
}
.hrader{
    display: flex;
}
.login-border{
    margin: auto;
    height: 10cm;
    width: 50%;
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
